@reference "tailwindcss";

.themeToggle {
  @apply flex gap-2 bg-gray-200/60 border-gray-300 border
      backdrop-blur-md dark:bg-gray-800/60 dark:border-gray-600 p-2 rounded-xl;
}

.themeChange {
  @apply flex items-center gap-1 px-3 py-1 rounded-md transition;
}

.themeSelected {
  @apply bg-indigo-500 text-white shadow;
}

.themeNotSelected {
  @apply text-gray-800 dark:text-gray-400 hover:text-white hover:bg-gray-400/50;
}

.themeLabel {
  @apply hidden sm:inline text-sm font-medium;
}
