@reference "tailwindcss";

/* Auth Page Background */
.auth-page-bg {
  @apply min-h-screen flex items-center justify-center bg-linear-to-b
    from-slate-700 via-cyan-900/80 to-slate-600
    dark:from-gray-700 dark:via-indigo-950 dark:to-gray-900
      transition-all duration-300;
}

.auth-form {
  @apply bg-slate-300 dark:bg-cyan-950 
      p-8 rounded-2xl shadow-xl
      w-96 max-w-[90vw]
      border border-white/20 dark:border-gray-600/30
      backdrop-blur-sm
      transition-all duration-300;
}

.form-input {
  @apply w-full mb-4 p-3 rounded-lg border-none
      bg-indigo-50 dark:bg-indigo-100
      text-indigo-950 dark:text-gray-800
      placeholder-gray-600/70 
      focus:outline-indigo-400 focus:ring-2 focus:ring-primary-500/50
      transition-all duration-300;
}

.form-submit {
  @apply w-full bg-indigo-500 dark:bg-indigo-700 cursor-pointer
      hover:bg-indigo-600 dark:hover:bg-indigo-500
      text-white font-bold py-3 rounded-lg transition-all duration-300
      transform hover:-translate-y-0.5 focus:outline-none
      focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2
      dark:focus:ring-offset-gray-800;
}
