.auth-page-bg {
  @apply min-h-screen flex items-center justify-center
        bg-linear-to-b from-gray-700 via-indigo-950 to-gray-900
        text-gray-900 dark:text-gray-100;
}

.auth-form {
  @apply bg-white dark:bg-gray-800 p-8 rounded-2xl shadow-lg w-96;
}

.form-input {
  @apply w-full mb-4 p-2 rounded bg-gray-100 dark:bg-gray-700;
}

.form-submit {
  @apply w-full bg-indigo-800  hover:bg-indigo-600 py-2 rounded font-semibold;
}
