@import "tailwindcss";

/* Optional — custom styles */
@theme {
  --color-primary-50: #e0f2fe;
  --color-primary-100: #bae6fd;
  --color-primary-500: #0284c7;
  --color-primary-700: #0369a1;
  --color-accent: #f59e0b;
}

body {
  /* background-color: var(--color-gray-100); */
  color: var(--color-gray-900);
  font-family: "Inter", sans-serif;
}

.dark body {
  @apply bg-gray-900 text-gray-100;
}

.input {
  @apply w-full p-2 rounded bg-gray-700 text-white;
}
