@import "tailwindcss";
@import "./styles/forms.css";
@import "./styles/globals.css";

@theme {
  --color-primary-50: #e0f2fe;
  --color-primary-100: #bae6fd;
  --color-primary-500: #0284c7;
  --color-primary-700: #0369a1;
  --color-accent: #f59e0b;
}

body {
  /* background-color: var(--color-gray-100); */
  color: var(--color-gray-900);
  font-family: "Inter", sans-serif;
}

/* .dark body {
  @apply bg-gray-900 text-gray-100;
}

.light body {
  @apply bg-gray-100 text-gray-900;
} */

.input {
  @apply w-full p-2 rounded bg-gray-700 text-white;
}

/* Glassmorphism effect */
.glass-card {
  padding: 2rem;
  border-radius: 1.5rem;
  background: rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
  text-align: center;
  transform: scale(1);
  opacity: 1;
}

/* fade in */
.fade-in {
  opacity: 1;
  animation: fadeIn 0.8s ease forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.97);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* fade + zoom + blur */
.fade-zoom-out {
  animation: fadeZoomOut 0.8s forwards;
}
@keyframes fadeZoomOut {
  0% {
    opacity: 1;
    transform: scale(1);
    backdrop-filter: blur(14px);
  }
  100% {
    opacity: 0;
    transform: scale(0.9);
    backdrop-filter: blur(30px);
  }
}

/* Beating / pulse effect */
.pulse {
  animation: pulseEffect 1.2s ease-in-out infinite;
}

@keyframes pulseEffect {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}
