@import "tailwindcss";
@import "./styles/globals.css";
@import "./styles/components/dashboard.css";
@import "./styles/pages/topics.css";
@import "./styles/pages/telemetry.css";
@import "./styles/pages/users.css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-50: #e0f2fe;
  --color-primary-100: #bae6fd;
  --color-primary-500: #0284c7;
  --color-primary-700: #0369a1;
  --color-accent: #f59e0b;
}

body {
  @apply bg-gray-100 text-gray-900 dark:bg-gray-900 dark:text-gray-50;
  font-family: "Inter", sans-serif;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

[dir="rtl"] body {
  font-family: "Vazirmatn", "Inter", sans-serif;
}

@keyframes loading-bar {
  0% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(150%);
  }

  100% {
    transform: translateX(250%);
  }
}